body {
 background: url('https://www.wallpaperflare.com/landscape-artwork-kvacm-digital-art-mountains-deer-animals-wallpaper-cwuag');
 background-repeat: no-repeat;
 background-size: 100%;
 background-position: center;
} 
